mixin article(art)

	.Article
		.Article-shot
			a(href=art.link, target="blank")
				figure
					img(src=art.image)
				.Article-shot_footer
					span=art.title
				.Article-shot_opacity
					span VISITAR
		.Article-description
			h2=art.title
			p=art.description
			h3 Tecnologías
			ul
				li=art.tech1
				li=art.tech2
				li=art.tech3
				li=art.tech4
				li=art.tech5
				li=art.tech6
				li=art.tech7
				li=art.tech8
				li=art.tech9
				li=art.tech10
			button
				a(href=art.link, target="blank")
					| visitar sitio
			button=art.gitsi
				a(href=art.git, target="blank")=art.code
					
		
			

//- VARIABLES:

//- TITLES

- r = 'REVOLUTION'
- h = 'HITO'
- v = 'VIVIR EN MEDITACIÓN'
- s = 'SANTIAGO CLAVIJO'
- p = 'PANDAWEBS'
- p16 = 'PANDAWEBS2016'

//- IMAGES

- revolutioni = 'public/assets/img/shot-rev.png'
- hitoi = 'public/assets/img/shot-hito.png'
- pwi = 'public/assets/img/shot-pw.png'
- sci = 'public/assets/img/shot-sc.png'
- pw16i = 'public/assets/img/shot-pw2016.png'
- vemi = 'public/assets/img/shot-vem.png'

//- DESCRIPTION

- revolution = "Sitio web adaptable a dispositivos móviles. Cuenta con animaciones en 3D y sitema interactivo para la elección del producto."
- hito = "Sitio basado en una navegación de transiciones por las diferentes secciones, invitando al usuario a un recorrido amigable y de impacto a través del total de las páginas."
- vem = "Un sitio que transmite la calidez y energía de la organización a la cual representa. Sistema de registro para la descarga de productos digitales. Navegabilidad intuitiva y de fácil acceso a la información."
- sc = "Sitio político de noticias, actividades y participación ciudadana enfocado en aumentar contactos a través de la suscripción y descarga de material digital."
- pw = "Website de venta de servicios web, invoca las relaciones productivas y de confianza hacia el objetivo del cliente."
- pw16 = "Centro de información y servicios educativos para la exitosa finalización de los proyectos web del visitante, desarrollada con tecnología moderna garantiza una navegacion fluída y limpia."


//- LINKS

- revlk = "http://revolution.aguja2013.com/"
- hitolk = "http://hito.aguja2013.com/"
- pwlk = "http://old.pandawebs.net/"
- sclk = "http://legislatura.santiagoclavijo.com/"
- pw16lk = "http://pandawebs.net/"
- vemlk = "http://web.vivirenmeditacion.com/index.html"

- rgit = "https://github.com/agustinpfs/t-shirt"
- hgit = "https://github.com/agustinpfs/zapa"
- pw16git = "https://github.com/agustinpfs/pandawebs2016"

- codesi ="visitar código"
- codesi ="visitar código"
- codeno ="código no disponible"
- codeno ="código no disponible"
- codeno ="código no disponible"
- codesi ="visitar código"

//- TECHNOLOGIES

- html = "HTML5"
- css = "CSS3"
- js = "Javascript"
- rd = "Responsive Design"
- stylus = "Stylus"
- jadeh = "Jade"
- jq = "JQuery"
- node = "NodeJS"

//- ARTICLES

- art1 = {link: revlk, title: r, image: revolutioni, description: revolution, tech1: html, tech2: css, tech3: js, tech4: rd, git: rgit, code: codesi}

- art2 = {link: hitolk, title: h, image: hitoi, description: hito, tech1: css, tech2: js, tech3: html, tech4: rd, tech5: jq, git: hgit, code: codesi}

- art3 = {link: vemlk, title: v, image: vemi, description: vem, tech1: html, tech2: css, tech3: js, tech4: rd, code: codeno}

- art4 = {link: sclk, title: s, image: sci, description: sc, tech1: css, tech2: js, tech3: html, tech4: rd, tech5: node, code: codeno}

- art5 = {link: pwlk, title: p, image: pwi, description: pw, tech1: css, tech2: js, tech3: html, tech4: rd, code: codeno}

- art6 = {link: pw16lk, title: p16, image: pw16i, description: pw16, tech1: css, tech2: js, tech3: html, tech4: rd, tech5: node, tech6: jadeh, tech7: stylus, git: pw16git, code: codesi}

each art in [ art1, art2, art3, art4, art5, art6]
	+article(art)